repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.2.0
      hooks:
      -   id: trailing-whitespace
      -   id: end-of-file-fixer
      -   id: check-yaml
      -   id: check-added-large-files
  -   repo: https://github.com/psf/black
      rev: 22.3.0
      hooks:
      -   id: black
          language: python
          types: [python]
          exclude: ^.*\b(migrations)\b.*$
  -   repo: https://github.com/pycqa/isort
      rev: 5.10.1
      hooks:
      -   id: isort
          name: isort (python)
          args: ["--profile", "black", "--filter-files"]
  -   repo: https://gitlab.com/pycqa/flake8
      rev: 3.10
      hooks:
      - id: flake8